.Header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
    color: #fff;
}

.Header header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-with-text a{
    display: flex;
    align-items: center;
}

.logo{
    background: #4A90E2;
    padding: 0.8em;
    width: max-content;
    border-bottom-right-radius: 50%;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.logo img{
    width: 1em;
}

.text{
    margin: 0 0.5em;
    font-size: 0.8em;
    text-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.text span{
    display: flex;
    flex-direction: column;
}